@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Montserrat+Alternates&family=Montserrat:ital,wght@0,300;1,200&family=Questrial&family=Roboto+Serif:ital,opsz,wght@1,8..144,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

body.swal2-shown.swal2-height-auto {
  height: 80vh !important; /* or whatever your original html height was */
}

.overlay {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.overlay_btn {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 6rem;
}

#overlay-text {
  position: absolute;
  left: 50%;
  top: 35%;
  font-weight: bold;
  font-size: 30px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.score,
.gameTimer {
  position: absolute;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
}

.dropdown {
  font-size: 1rem;
  margin-left: 20rem;
}

.options {
  position: absolute;
  top: 0;
  display: flex;
}

.score {
  left: 15px;
  top: 10px;
}

.gameTimer {
  display: flex;
  right: 20px;
  top: 10px;
}

.answer {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.question {
  background-color: rgb(136, 22, 37);
  padding: 20px;
  width: 100%;
  margin: 30px auto;
  text-align: center;
  color: white;
  font-size: 2rem;
  border-radius: 10px;
  border: 1px solid black;
}

.question-timer {
  font-size: 20px;
  border: 1px dashed;
  padding: 7px;
  width: 70px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.action_buttons {
  display: flex;
  justify-content: space-evenly;
}

.action_buttons button {
  flex-basis: 25%;
  margin-top: 45px;
}

.title {
  text-align: center;
  margin-bottom: 50px;
}

button {
  width: 200px;
  height: 50px;
  background-color: rgb(136, 22, 37);
  border-radius: 5px;
  border-color: rgb(136, 22, 37);
  color: #fff;
  font-size: 13px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.form-switch {
  font-size: large;
}

.dropdown-toggle,
.btn btn-primary {
  background-color: rgb(136, 22, 37) !important;
  border-color: rgb(136, 22, 37);
  height: 40px;
}

.form-check-input:checked {
  background-color: rgb(136, 22, 37);
  border-color: rgb(136, 22, 37);
}
.swal2-confirm,
.swal2-styled {
  background-color: rgb(136, 22, 37) !important;
  margin: auto;
  line-height: 1.25rem;
  width: 150px !important;
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
}

.swal-title {
  color: #a5dc86;
  font-weight: 600;
  text-transform: none;
  position: relative;
  display: block;
  padding: 13px 16px;
  font-size: 27px;
  line-height: normal;
  text-align: center;
  margin-bottom: 0;
}

.swal-text {
  font-size: 16px;
  position: relative;
  float: none;
  line-height: normal;
  vertical-align: top;
  text-align: left;
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  font-weight: 400;
  color: #6b9e4d;
  max-width: calc(100% - 20px);
  overflow-wrap: break-word;
  box-sizing: border-box;
}

#stop_time {
  margin-right: 40px;
}

.questionSize {
  text-align: center;
  margin: 15px 0;
}

button:hover {
  background-color: #fff;
  color: rgb(136, 22, 37);
  font-weight: bold;
}

button:disabled {
  background-color: gray;
  border: none;
  pointer-events: none;
}

button:active {
  transform: translateY(2px);
}

.swal2-confirm,
.swal2-styled {
  background-color: rgb(136, 22, 37) !important;
  margin: auto;
  display: flex;
  justify-content: end;
  line-height: 1.25rem;
  width: 100px;
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
}

.swal2-title {
  color: green;
  font-size: 1.5rem;
}

.swal2-html-container {
  font-weight: bold !important;
  color: rgb(136, 22, 37) !important;
}

.questionTimer {
  margin-top: 1rem;
  text-align: center;
}

.swal2-confirm,
.swal2-styled {
  margin-right: 1rem;
}
